body {
  background-color: rgb(228, 212, 243);
}

h1 {
  text-align: center;
}

.sidebar {
  width: 30%;
  height: 250px;
  float: right;
  background-color: aquamarine;
  padding: 1%;
  border: brown solid 2px;
}

.pig-photo {
  float: right;
  width: 30%;
  margin-right: 15px;
}



.column {
  box-sizing: border-box;
  float: left;
  width: 30%;
  margin: 0 5px;
  border: brown solid 2px;
  padding: 3px;
}

.small-pig {
  width: 100%;
}